@import "~bootstrap/scss/_functions";
@import "../../../scss/_bootstrap-variables";

.navbar-brand{
  background: url(#{$spotify_logo}) no-repeat;
  background-size: contain;
  text-indent: -9999px;
  padding-left: 132px;
}

fdv-navigation + *{
  margin-top: $spacer * 6;
}

.navbar{
  & &__user__image{
    max-width: 30px;
    margin-right: $spacer;
  }

  & &__user__name{
    white-space: nowrap;
  }

  .dropdown{
    position: relative;
    .dropdown-menu{
      border-radius: 0;
      min-width: 100%;
      position: absolute;
      left: auto;
      right: 0;
    }
  }
}

