@import "~bootstrap/scss/_functions";
@import "../../../scss/_bootstrap-variables";

.navbar-brand{
  background: url(#{$spotify_logo}) no-repeat;
  background-size: contain;
  text-indent: -9999px;
  padding-left: 132px;
}

fdv-navigation + *{
  margin-top: $spacer * 6;
}