<fdv-navigation></fdv-navigation>

<fdv-typeahead></fdv-typeahead>

<div class="container">
  <ul *ngIf="favorites.playlist$.getValue().playlist != null"
      class="list-unstyled favorites__list row">
    <li *ngFor="let playlist of favorites.playlist$.getValue().playlist.items"
        class="media mt-4 d-flex flex-column col-6 align-items-center col-md-4 col-xl-3">
      <img class="mb-3 rounded-circle favorites__list__image" *ngIf="playlist.images.length > 0"
           [src]="playlist.images[0].url" [alt]="playlist.name">
      <span class="favorites__list__image" *ngIf="playlist.images.length <= 0"></span>
      <div class="media-body">
        <h5 class="mb-2">{{playlist.name}}</h5>
      </div>
    </li>
  </ul>
</div>