/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/_functions";
@import "./scss/_bootstrap-variables";
@import "~bootstrap/scss/bootstrap";

router-outlet{
  display: block;
}

.btn,
a{
  cursor: pointer;
  user-select: none;
}