<section class="container typeahead">
  <form class="form-group" (keydown.enter)="$event.preventDefault()">
    <label for="searchPlaylists" class="pl-3 pr-3 h3 text-center d-block">Flow with your jam!</label>
    <input id="searchPlaylists" type="search"
           class="form-control form-control-lg"
           placeholder="Search for playlists"
           [formControl]="searchField"
           (focus)="openSearchList()">

    <ul class="typeahead__list list-unstyled" *ngIf="listVisible">
      <li *ngFor="let playlist of results$" class="media d-flex flex-row align-items-center">
        <img class="typeahead__list__image" *ngIf="playlist.images.length > 0"
             [src]="playlist.images[0].url" [alt]="playlist.name">

        <span class="typeahead__list__image" *ngIf="playlist.images.length <= 0"></span>

        <div class="media-body">
          <h5 class="mb-2">
            {{playlist.name}}
          </h5>
          <p class="mb-0">
            <a [href]="playlist.owner.external_urls.spotify"
               target="_blank" *ngIf="!!playlist.owner.display_name">{{playlist.owner.display_name}}</a>

            <a [href]="playlist.owner.external_urls.spotify"
               target="_blank" *ngIf="!playlist.owner.display_name">{{playlist.owner.id}}</a>
          </p>
        </div>
        <div class="pr-4 pl-2" (click)="setFavorite(playlist)">
          <i class="fa fa-star fa-3x"></i>
        </div>
      </li>
    </ul>

    <ul class="typeahead__list list-unstyled" *ngIf="noResults">
      <li class="text-center">
        <small>No playlists match with your search.</small>
      </li>
    </ul>
  </form>
</section>